ScannerApp/data examples/orders-list.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="orders">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="order">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:integer" name="id"/>
              <xs:element type="xs:string" name="barcode"/>
              <xs:element type="xs:date" name="date"/>
              <xs:element type="xs:string" name="status"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="country"/>
              <xs:element type="xs:decimal" name="total"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>